<div class="hero-unit">
    <div class="center">
        <h1>Webcam directive demo</h1>
        <h3>Depends on <a href="http://angularjs.org">angularjs</a></h3>
    </div>
    <div class="center">
        <a class="btn btn-large btn-primary" href="https://github.com/jonashartmann/webcam-directive">
            <i class="icon-github"></i>&nbsp;Source on Github
        </a>
        <a href="https://raw.github.com/jonashartmann/webcam-directive/1.0.0/dist/1.0.0/webcam.min.js" class="btn btn-large btn-success download">
            <i class="icon-download-alt icon-large"></i>&nbsp;Download v1.0.0
        </a>
    </div>
</div>

<div class="row">
    <div class="span6">
        <p>Add module "webcam" as dependency</p>
        <pre>angular.module('myapp', ['webcam']);</pre>
        <p>Then in the HTML</p>
        <pre>&lt;webcam&gt;&lt;/webcam&gt;</pre>
        <p>With callbacks</p>
        <pre>
&lt;webcam on-stream="onStream(stream,video)"
        on-access-denied="onError(err)"
        on-streaming="onSuccess(video)"&gt;
&lt;/webcam&gt;</pre>
        <p>With placeholder</p>
        <pre>&lt;webcam placeholder="'img/ajax-loader.gif'"&gt;</pre>
    </div>
    <div class="span6">
        <webcam class="well pull-right" on-stream="onStream(stream,video)"
            on-error="onError(err)"
            on-streaming="onSuccess(video)"
            placeholder="'img/ajax-loader.gif'">
            <div class="alert alert-error" ng-show="webcamError">
                <span>Webcam could not be started. Did you give access to it?</span>
            </div>
        </webcam>
    </div>
</div>

<div class="demos" ng-show="showDemos">
    <h1 style="margin-top: 2.5em;">Capture video data</h1>
    <div class="row">
        <div class="span6">
            <label>Pos X <input type="number" ng-model="patOpts.x"></label>
            <label>Pos Y <input type="number" ng-model="patOpts.y"></label>
            <label>Width <input type="number" ng-model="patOpts.w"></label>
            <label>Height <input type="number" ng-model="patOpts.h"></label>
            <button class="btn btn-large btn-primary" ng-click="makeSnapshot()">Take snapshot!</button>
        </div>
        <div class="span6">
            <canvas id="snapshot" class="well pull-right"></canvas>
        </div>
    </div>

    <h1 style="margin-top: 2.5em;">Play with the video in real time</h1>
    <div class="row">
        <div class="span6">
            <label class="checkbox">Detect edges<input type="checkbox" ng-model="edgeDetection"></label>
            <label class="checkbox">Mono<input type="checkbox" ng-disabled="!edgeDetection" ng-model="mono"></label>
            <label class="checkbox">Invert<input type="checkbox" ng-disabled="!edgeDetection" ng-model="invert"></label>
            <a href="http://www.pixastic.com/lib/">Made with Pixastic</a>
        </div>
        <div class="span6">
            <canvas id="result" class="well pull-right"></canvas>
        </div>
    </div>
</div>
